@charset "euc-kr";
.btnNormal, .btnNormal span, .btnBBig, .btnBBig span, .btnTiny, .btnTiny span, .btnTinys, .btnTinys span,  .btnBig, .btnBig span, .btnCtrl, .btnCtrl span, .btnDate, .btnDate span, .btnGeneral, .btnGeneral span, .btnStrong, .btnStrong span, .btnNormalB, .btnNormalB span, .btnNormalS, .btnNormalS span, .btnSubmit, .btnSubmit span, .btnEm, .btnEm span, .btnSearch, .btnSearch span, .btnSmall, .btnSmall span {
    display: inline-block;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
	
	color:#fff;
	zoom:1;
	*display:inline;
	cursor:pointer;
}
.btnNormal span, .btnCtrl span, .btnDate span, .btnGeneral span, .btnStrong span, .btnSubmit span, .btnEm span, .btnSearch span {
    cursor:pointer;
    vertical-align:top;
}

a.btnStrong, a.btnSubmit {color:#fff; font-size:17px; }
button {padding: 0px; border: none; cursor: pointer;}
button {background: none; font-family: Noto Sans;}
.btn_zone {padding:38px;}
.btnSubmit {background:#a0a0a0; text-align:center; font-size:13px;}
.btnSubmit span {padding:0px 30px 0px 30px; color:#fff; border:1px solid #7f7f7f; height:50px; line-height:50px; font-size:14px;}
.btnSubmit.purple span {background:#84308e; color:#fff; border:1px solid #84308e;}
.btnSubmit.cancel span {background:#fff; color:#000; border:1px solid #c3c3c3;}
.btnSubmit em.icoArrow {background:url(../img/common/arrow.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 -20px 0 29px; width:6px; height:58px;}
.btnSubmit.red {background:#e20e20;}
.btnSubmit.red span {background:#e20e20; color:#fff; border:1px solid #e20e20;}
.btnSubmit.purple span {background:#84308e; color:#fff; border:1px solid #84308e;}
.btnSubmit.gray span {background:#5f6062; color:#fff; border:1px solid #5f6062;}

.btnSmall {background:#666666;}
.btnSmall span {padding:3px 17px 3px 17px; min-height:22px; line-height:20px; font-size: 14px; white-space:normal;}
.btnSmall.line {background:#fff; border:1px solid #d0d0d0;}
.btnSmall.line span {color:#646464; min-height:20px; line-height:20px; }
.btnSmall.p_line {background:#fff; border:1px solid #822f8e;}
.btnSmall.p_line span {color:#822f8e; min-height:20px;  line-height:20px;}
.btnSmall span.two_row {padding:11px 20px; height:36px; line-height:18px;}
.btnSmall.black {background: #242424}
.btnSmall.red {background: #ed2129}

.btnTiny {background:#fff; border-bottom:1px solid #e9e9e9; font-size:13px;}
.btnTiny span {padding:0px 10px 0px 10px; text-align:center;  color:#333; height: 24px; line-height: 24px;}
.btnTiny span.red {color:#e20e20;}
.btnTiny em.icoArrow {background:url(../img/common/arrow_s.png) no-repeat left center; vertical-align:top; margin:0 0 0 10px; width:4px; height:21px;}
.btnTiny em.down {background:url(../img/common/ico_down.png) no-repeat left center; vertical-align:top; margin:0 10px 0 0px; width:10px; height:21px;}
.btnTiny em.del {background:url(../img/common/ico_del.png) no-repeat left center; vertical-align:top; margin:0 10px 0 0px; width:10px; height:21px;}
.btnTiny.gray {background:#777777;}
.btnTiny.gray span {border:1px solid #777777; color:#333; color:#fff;}
.btnTiny.on {background:#465064;}
.btnTiny.on span {border:1px solid #465064; color:#333; color:#fff;}

.btnTinys {background:#fff; font-size:13px; border: 1px solid #d0d0d0;}
.btnTinys span {padding:0px 9px ; height:22px; line-height:22px;  color:#646464;}
.btnTinys.gray {background:#5f6062;}

a.radius {border-radius:30px; border:1px solid #cccccc; !important}

.btnNormal {min-width:90px; background:#1a5cba; text-align:center; }
.btnNormal span {padding:0px 17px; height:34px; line-height:33px;}
.btnNormal.purple {background:#84308e;}
.btnNormal.line {background:#fff; border:1px solid #d0d0d0;}
.btnNormal.line span {color:#242424; height:32px;}
.btnNormal.red {background: #ed2129}
.btnNormal.gray {background:#7d7d7d;}
.btnNormal.black {background: #000}


.btnNormalB {background:#333333; text-align:center; font-size:1em;}
.btnNormalB span {padding:0px 22px; height:38px; line-height:36px;}
.btnNormalB.line {background:#fff; border:1px solid #cccccc;}
.btnNormalB.line span {color:#333;}
.btnNormalB.gray {background: #757a85}
.btnNormalB.red {background: #ed2129}
.btnNormalB.cancel {background:#fff;  color:#000000; border:1px solid #000000; box-sizing: border-box;}
.btnNormalB.cancel span {color:#333333; line-height:36px; height: 38px;}
.btnNormalB.bg_print {box-sizing: border-box; padding: 0px 20px;}
.btnNormalB.bg_print span {background: url(/asiana/img/common/ico_print.png) no-repeat left center; padding: 0px 0px 0px 25px;}
.btnNormalB.bg_ico {box-sizing: border-box; padding: 0px 20px;}
.btnNormalB .bg_down {background: url(../img/common/ico_down.png) no-repeat left center; padding: 0px 0px 0px 30px;}
.btnNormalB .bg_down2 {background: url(../img/common/ico_down2.png) no-repeat left center; padding: 0px 0px 0px 30px;}
.btnNormalB .bg_go {background: url(../img/common/ico_go.png) no-repeat right center; padding: 0px 30px 0px 0px;}
.btnNormalB .bg_link {background: url(../img/common/ico_link.png) no-repeat right center; padding: 0px 30px 0px 0px;}


.btnStrong {min-width:200px; background:#1a5cba; letter-spacing: -1px; color: #fff; text-align:center; font-weight:400;}
.btnStrong span {padding:0px 30px; height:59px; line-height:58px; font-size:18px;}
.btnStrong.cancel {background:#fff; border:1px solid #1a5cba; color:#1a5cba;}
.btnStrong.cancel span {color:#1a5cba; height:57px; line-height:56px; }
.btnStrong.red.cancel {border:1px solid #f5252a; color:#f5252a;}
.btnStrong.red.cancel span {color:#f5252a; height:57px; line-height:56px; }
.btnStrong.blue {background: #009adf}
.btnStrong.bg_ico {box-sizing: border-box; padding: 0px 30px;}
.btnStrong .bg_link {background: url(../img/common/ico_link.png) no-repeat right center; padding: 0px 30px 0px 0px;}

.btnEm {background:#ececec;}
.btnEm span {padding:0px 15px 0px 15px; height:32px; line-height:29px; font-size: 14px; font-family: nGothicB;}
.btnEm.line {border:1px solid #d0d0d0;}
.btnEm.line span {color:#646464; height:30px;}



.btnGeneral {min-width:150px; box-sizing: border-box; background:#f5252a; letter-spacing: -1px; color: #fff; text-align:center; font-size:18px; font-weight:400;}
.btnGeneral span {padding:0px 25px; height:50px; line-height:48px;}
.btnGeneral.cancel {background:#fff; border:1px solid #000000; color:#000000;}
.btnGeneral.cancel span {color:#333333; height:48px; line-height:46px; }
.btnGeneral.red.cancel {border:1px solid #333; color:#333;}
.btnGeneral.red.cancel span {color:#333; height:48px; line-height:46px; }


.btnBig {min-width:300px; background:#1a5cba; font-weight:400; color:#fff; text-align:center; font-size:20px; padding:0px 30px;}
.btnBig > span {height:70px; line-height:70px;}
.btnBig .bg_down {background: url(../img/common/ico_down.png) no-repeat right center; padding: 0px 40px 0px 0px;}
.btnBBig {width:400px; background:#81308d; color:#fff; text-align:center; font-size:22px; line-height:75px; padding:0px;}
a.btnBBig, a.btnBig {color:#fff;}

input.btnBig  {min-width:360px; background:#1a5cba; font-weight:400; border:none; outline:none;color:#fff; text-align:center; font-size:20px; padding:0px 30px; height:70px; line-height:70px;}


/* 500px 이하 */
@media screen and (max-width:499px) {
    .btnNormalB {font-size: 13px;}
    .btnStrong span {height:52px !important; line-height:50px !important; font-size:17px;}
    .btnStrong.cancel span {height:50px !important; line-height:48px !important;}
    .btnBig {min-width:190px; font-size:18px;}
    .btnBig > span {height:64px; line-height:63px;}
    input.btnBig  {display:block; width:100%; box-sizing:border-box; font-size:18px; height:64px; min-width:100%; line-height:63px;}

    .btnNormal {min-width: auto; display: block;}
    .btnNormal span {padding:3px 5px; height: auto; line-height: 140%;}
    .btnNormalB span {padding:3px 5px; height:auto; line-height:140%;}
    
    
    .m_block {display: block !important; min-width: 10px; margin-bottom: 3px !important; float: none !important;}
	.m_block span {display:block; padding:0px;}
}


