@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
 * Name      : web_layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */
#navigation {display: none;}
body.fixe {overflow-x: hidden; overflow-y: scroll; width: 100%; height: 100%; position: fixed;}
.m_gnb .sub_menu {display:none !important;}
.web_dis {display:block;}
.mb_dis {display:none;}
.search_btn {display: none; position: absolute; right:10px; top:47px; z-index: 99}
.search_btn button {outline: none;}
.web_img {display: block;}
.mobile_img {display: none;}
img {max-width: 100%;}
body,html {background: #e2e6e6;}
.showplan_mobile {display:none;}


/* wrap */
#wrap {width:100%; padding:30px; box-sizing: border-box; overflow:hidden; margin:0 auto;}
#inner_wrap {margin:0 auto; max-width:1200px; background: #fff; box-sizing: border-box; width: 100%; padding:30px;}
#inner_wrap:after {clear:both; content:""; display:block;}
#inner_wrap.no_visual {padding-top:70px;}
.inner {max-width:1200px; min-height:200px; margin:0 auto;}
.inner:after { clear: both; content: ""; display: block;}



/* header */
#header {width:100%; position: relative; z-index:89; /* margin-bottom:50px; */  transition: all 0.3s 0s ease-in-out;}
#header h1 {float:left;}
.in_header:after {clear:both; content:""; display:block;}
.top_menu_wrap {float:right; position:relative; margin-top:5px; padding-right:180px;}
.top_menu {overflow:hidden;}
.top_menu > li {float:left; padding-left:30px;}
.top_menu > li > span {display:block; padding-left:23px; line-height:34px;color:#333; font-size:1.15em;}
.top_menu > li.tel > strong {display:block; padding-left:50px; background:url(../img/common/ico_tel.png) no-repeat left top; font-size:26px; font-weight:600; line-height:34px;color:#000;}
.top_menu > li.fax > span {background:url(../img/common/ico_fax.png) no-repeat left center;}
.top_menu > li.mail > span {background:url(../img/common/ico_mail.png) no-repeat left center;}

.bookmark {position:absolute; right:0px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.bookmark > a {display:block; border:1px solid #465064; padding:0px 25px; border-radius:30px; line-height:40px;}
.bookmark > a > span {display:block; padding-left:20px; background:url(../img/common/ico_bookmark.png) no-repeat left center;}

.logout {position:absolute; right:0px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.logout > a {display:block; border:1px solid #465064; padding:0px 25px; border-radius:30px; line-height:40px; background: #465064; color: #fff; font-size: 1.05em; font-weight: 500;}
.logout > a > span {display:block; }


/* GNB */
.w_gnb {padding-top: 30px;clear:both; }
.w_gnb .gnb:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul > li {float: left; display: table; width:20%; box-sizing: border-box; position: relative;}
.w_gnb .gnb > ul > li > a {display:table-cell; width: 100%; height:64px; vertical-align: middle; background:#fff; line-height:20px; font-weight:400; padding:0px 0px; text-align:center; color:#999999; box-sizing:border-box; border:1px solid #e2e6e6; font-size:18px; border-left: none; word-break: keep-all;}
.w_gnb .gnb > ul > li:first-child a {border-left:1px solid #e2e6e6;}
.w_gnb .gnb > ul > li.on > a {border: 1px solid #465064 !important; background: #465064; color: #fff;}



.w_gnb .sub_menu  {position:absolute; left:0%; /*width:calc(100% + 1px); margin-left: -1px;*/ width:100%; box-sizing:border-box; top:100%; display:none; padding:0px 0px; background: #fff; }
.w_gnb .sub_menu > li {margin-top: -1px; letter-spacing:-0.5px; display:table; width: 100%;}

.w_gnb .sub_menu > li:hover {z-index: 99; position: relative;}
.w_gnb .sub_menu > li > a {display:table-cell; height: 50px; vertical-align: middle; text-align:center; font-weight:400; color:#999999; padding:3px 0px; line-height:20px; border:1px solid #e2e6e6; font-size: 1.1em;}
.w_gnb .sub_menu > li > a:hover {color:#465064; border:1px solid #465064 !important; }

.w_gnb .m_gnb_on {position:absolute; right:0px; top:-1px; padding:21px; background: #2d3749}


.slide_menu_wrap {width:80%; max-width:500px; box-sizing: border-box; height: 100%;  z-index: 99999; position: fixed; right:-90%; top: 0px; bottom:0px; }
.slide_menu_inner {padding:63px 15px 0px 15px; height: 100%; box-sizing: border-box; overflow-y:auto; overflow-x:inherit; -webkit-overflow-scrolling:touch; background: #313747; }
.slide_menu_top {height: 88px; background:url(../img/common/logo.png) no-repeat center center #fff; box-sizing: border-box; border-bottom: 1px solid #4a76b4}
.slide_menu_wrap .m_gnb_on {display:none !important}



.all_close {position: absolute; right:20px; top: 20px; z-index: 99998}
.all_close button {background: none; border: none; outline: none; /*width: 26px; height: 26px;*/ padding: 0px; margin: 0px; }
.all_close .menu_btn .line-top, .all_close .menu_btn .line-middle, .all_close .menu_btn .line-bottom {background:#fff !important}
.slide_menu_wrap .gnb > ul {overflow: hidden;}
.slide_menu_wrap .gnb > ul > li {border-bottom: 1px solid #494f5d; transform: translateX(30%); -webkit-transform: translateX(30%); transition: all 0.8s 0s ease-in-out; -webkit-transition: all 0.8s 0s ease-in-out;}
.slide_menu_wrap .gnb > ul > li > a {display: block; line-height:33px; font-size:18px; color: #fff; background: #f2f2f2; padding: 10px 10px 10px 25px; background: url(../img/common/g_plus.png) no-repeat 93% center; background-image:none; font-weight: 500; } 
.slide_menu_wrap .gnb > ul > li > a.on {background: url(../img/common/g_minus.png) no-repeat 93% center;  background-image:none;} 
.slide_menu_wrap .gnb > ul > li > a br {display: none;}
.slide_menu_wrap .gnb > ul > li.gnb01 > a {background: url(../img/common/g_plus.png) no-repeat 93% center; }
.slide_menu_wrap .gnb > ul > li.gnb01 > a.on {background: url(../img/common/g_minus.png) no-repeat 93% center; } 
.slide_menu_wrap .gnb > ul > li.gnb04 > a {background: url(../img/common/g_plus.png) no-repeat 93% center; }
.slide_menu_wrap .gnb > ul > li.gnb04 > a.on {background: url(../img/common/g_minus.png) no-repeat 93% center; } 
.slide_menu_wrap .gnb .sub_menu {background:#3d4354; border-top:1px solid #494f5d; display: none; padding: 10px 0px; }
.slide_menu_wrap .gnb .sub_menu > li > a {display: block; line-height:23px; padding:5px 10px 5px 25px; font-size:15px; color:#d6d6d6; } 
.slide_menu_wrap .gnb .sub_menu02{background:#1d212b; border-top:1px solid #777777; border-bottom:1px solid #777777; padding:10px 0px; }
.slide_menu_wrap .gnb .sub_menu02 > li > a {display: block; line-height:23px; padding:5px 10px 5px 35px; font-size:13px; color: #d6d6d6;} 
.slide_menu_wrap.on .gnb > ul > li {transform: translateX(0%); -webkit-transform: translateX(0%); transition: all 0.8s 0s ease-in-out; -webkit-transition: all 0.8s 0s ease-in-out;}

.main_banner {clear:both;}
.main_banner > ul {overflow:hidden; margin:-15px}
.main_banner > ul > li {float:left; width:33.3333%; box-sizing:border-box; padding:15px;}
.main_banner > ul > li .box {position:relative;}
.main_banner > ul > li .txt {color:#fff; position:absolute; font-size:1.05em; line-height:140%; font-weight:100%; left:0px; word-break:keep-all; bottom:0px; box-sizing:border-box; width:100%; padding:0px 10% 10% 10%;}
.main_banner > ul > li .txt > strong {display:block; font-size:1.35em; line-height:140%; font-weight:500; padding-bottom:10px;}
.main_banner > ul > li .bt {text-align:center; padding-top:15px;}
.main_banner > ul > li .bt > a {display:inline-block; background:#465064; line-height:50px; color:#fff; font-size:1.05em; font-weight:500; border-radius:30px; min-width:170px;}

.m_tit {text-align:center; font-size:26px; line-height:140%; font-weight:600; padding:30px 0px 20px 0px; color:#333333}

.main_board {position:relative;}
.main_board .more {position:absolute; right:0px; top:-60px;}
.main_board .more > a {display:block; font-size:14px;}
.main_board .more > a > span {display: inline-block; position: relative; padding-left:25px; line-height: 44px;}
.main_board .more > a > span:after {display: block; content: ""; width:16px; height:2px; background: #232325; position: absolute; left:0px; top:50%; transition: all 0.3s 0s ease-in-out; -webkit-transition: all 0.3s 0s ease-in-out;}
.main_board .more > a > span:before {display: block; content: ""; width:16px; height: 2px; background: #232325; position: absolute; left: 0px; top:50%; transform: rotate(90deg); -webkit-transform: rotate(90deg);  transition: all 0.3s 0s ease-in-out; -webkit-transition: all 0.3s 0s ease-in-out;}

.main_board > ul {overflow:hidden; border:1px solid #cccccc}
.main_board > ul > li {overflow:hidden; float:left; width:33.33333%; padding:20px; border-left:1px solid #ccc; box-sizing:border-box;}
.main_board > ul > li:first-child {border:none;}
.main_board > ul > li > a {display:block; position:relative; padding-top:30px; color:#666666; font-weight:100%; background:url(../img/main/arrow.png) no-repeat right bottom; line-height:140%;}
.main_board > ul > li > a .ico {position:absolute; left:0px; top:0px; display:block;}
.main_board > ul > li > a .ico > span {display:inline-block; margin-left:4px; vertical-align:top; min-width:56px; text-align:center; color:#fff; line-height:22px; height:24px}
.main_board > ul > li > a .ico > span:first-child {margin-left:0px;}
.main_board > ul > li > a .ico > .notice {background:#465064;}
.main_board > ul > li > a .ico > .new {background:#ff5546;}
.main_board > ul > li > a .tit  {display:block; height:52px; line-height:26px; overflow:hidden; text-overflow:ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; font-size:1.35em; margin-bottom:20px; color: #000;}
.main_board > ul > li > a .txt  {display:block; height:36px; line-height:18px; overflow:hidden; text-overflow:ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; margin-bottom:25px; }
.main_board > ul > li > a .date {display: block; font-weight: 100;  color:#666666;}

.footer {max-width: 1200px; box-sizing: border-box; margin: 0 auto; padding:30px 230px 35px 210px; position: relative; font-size:13px; color:#000000; line-height:21px; font-weight:100; background: url(../img/common/f_logo.png) no-repeat 30px 30px;}
.footer a {color: #000000}
.footer address {margin-left: -10px; padding-top: 10px; line-height: 150%; color: #000000;}
.footer address span {display: inline-block; padding:2px 10px;}
.footer address .footer-line {width: 1px; height:12px; background: #909193; padding: 0px; }
.footer address strong {display: inline-block; padding:2px 10px; color: #003876;}
.footer .copy {font-size: 13px; font-weight: 100; padding-top:10px; color: #666666;}
.footer .go_home {position:absolute; right:10px; top:30px; }
.footer .go_home > a {display:block; border-radius:30px; border:1px solid #ccc; background:#fff; padding:0px 20px; line-height:43px; color:#666666;}
.f_navi {font-size: 0px; text-align: left; }
.f_navi li {display: inline-block; vertical-align: middle; padding:0px 17px; position:relative;}
.f_navi li:before {display:inline-block; content:""; width:1px; height:12px; background:#909193; position:absolute; left:0px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); }
.f_navi li:first-child {padding-left:0px; }
.f_navi li:first-child:before {display:none;}
.f_navi li a {display:inline-block; font-size:14px; color:#000000; line-height: 20px; font-weight:400; }


.sub_wrap_0 .w_gnb {display:none;}
.mobile_notice {display:none;}

.data_down {border:1px solid #ccc; background:#edeff4; padding:20px;}
.data_down .tab_area {text-align:left; margin:-2px;}
.data_down .tab_area > li {display:inline-block; vertical-align:top; padding:2px;}
.data_down .tab_area > li > a {display:block; background:#1a5cba; padding:0px 20px;}
.data_down .tab_area > li > a > span {display:block; padding-right:40px; line-height:47px; text-align:left; color:#fff; font-weight:100%; background:url(../img/common/ico_down.png) no-repeat right center; }








#container {font-size: 16px; color: #666666; position: relative; }
#container:after {display: block; content: ""; clear: both;}
.join_step {position: relative; background: #edeff4; padding:15px 20px; margin-top: -10px;}
.join_step > ol {text-align: center; position: relative; overflow: hidden;}
.join_step > ol:before {display: block; content: ""; width: 100%; height: 1px; position: absolute; left: 0px; top: 20px; background: #b9bdc5;}
.join_step > ol > li {float:left; width:25%; font-size: 16px; color: #505050; box-sizing: border-box; padding: 0px 5px; position: relative; position: relative; font-weight:400;}
.join_step > ol > li .ico {display:inline-block; position: relative; z-index: 9; border:1px solid #b9bdc5; background: #fff; border-radius: 100%;  margin-bottom:5px;}
.join_step > ol > li .ico > span {display: block; width:40px; height:40px; overflow: hidden; color: #999999; line-height: 40px;}
.join_step > ol > li .txt {display: block; padding-top:0px; color: #999999; line-height: 140%; }
.join_step > ol > li.on .ico {background:#465064; border-color:#465064 }
.join_step > ol > li.on .ico > span {background:url(../img/common/step_on.png) no-repeat center center; font-size: 0px;}
.join_step > ol > li.on .txt {color: #465064;}
.join_step > ol.three > li {width:33.33333%;}

.step_tit {margin:40px 0px 10px 0px; font-size:26px; font-weight: 100; line-height: 140%; color: #465064; }
.step_tit > strong {font-weight:600;}

.step_select {overflow: hidden; margin: -10px;}
.step_select > .select_ds {width: 25%; box-sizing: border-box; padding:10px; float: left;}
.step_select .select_ds select {height:50px;}
.step_select .select_ds input {height:50px;}
.step_select .select_ds select.big {height:60px; padding-left: 15px;}

.step_select.four > .select_ds {width: 25%;}
.step_select.three > .select_ds {width:33.333%;}
.step_select.two {margin: -10px -25px;}
.step_select.two > .select_ds {width:50%;  padding:10px 25px;}
.step_select.one .select_ds {width:100%;}
.select_ds .date_picker .input {width: 100%; border: none; outline: none;  height:48px;}




.box_radio {overflow: hidden;}
.box_radio > li {float: left; width: 50%; margin-left: -1px; display: table; box-sizing: border-box;}
.box_radio > li label {display:table-cell; height:60px; width: 100%; box-sizing: border-box; border-left:none; border: 1px solid #cccccc; text-align: center; vertical-align: middle; background: #fff; color: #999999; cursor: pointer;}
.box_radio > li:first-child {margin-left: 0px;}
.box_radio > li label > span {display: none;}
.box_radio > li .ez-selected {color: #465064; position: relative; border:1px solid #465064 !important; font-weight: 500;}
.box_radio.three > li {width: 33.3333%}
.box_radio.small > li label {height:40px;}
.box_radio.full > li .ez-selected {color: #fff; background: #465064}


.execute_bt { background: #465064; text-align: center; display: table; width: 100%;}
.execute_bt > button {outline: none; display: table-cell; width: 100%; height:60px; vertical-align: middle; text-align: center; box-sizing: border-box; font-size: 16px; color: #fff;}
.execute_bt > button > span {display: inline-block; padding-left: 20px; background: url(../img/common/ico_execute.png) no-repeat left center;}
.execute_bt .disable {background: #999999 !important}
.execute_bt .disable > span {background: url(../img/common/ico_execute2.png) no-repeat left center;}

.ex_over_box {padding:30px 0px;}
.ex_inbox {border: 1px solid #e5e5e5; padding: 30px; background: #fcfcfc;}
.ex_inbox .subtitle {color: #999999; font-weight: 400; text-align: center}
.ex_inbox > h4 {font-size: 26px; color: #333333; line-height: 140%; text-align: center}

.day90 {overflow: hidden; padding: 30px 0px 20px 0px; margin: -3px;}
.day90 > li {float: left; width: 16.6666%; box-sizing: border-box; padding:3px; text-align: center}
.day90 > li .border_box {border: 1px solid #cccccc}
.day90 > li .calender_icon {display:inline-block; max-width:100px; text-align: center; width: 100%; font-size:18px; color: #333; line-height:41px; background: url(../img/common/ico_calender.png) no-repeat left center; padding-left: 50px; box-sizing: border-box; margin: 30px auto;}
.day90 > li .calender_icon > strong {font-size:1.2em; }
.day90 > li .border_box > ul {overflow: hidden; background: #edeff4; padding: 15px;}
.day90 > li .border_box > ul > li {overflow: hidden; padding: 3px 0px;}
.day90 > li .border_box > ul > li.on {color: #465064}

.gray_box {border: 1px solid #ccc; background: #fcfcfc; padding:25px;}


.left_wrap {width:72%; box-sizing: border-box; padding-right: 10px; float: left;}
.right_wrap {width:28%; box-sizing: border-box; padding-left: 10px; float: right; padding-top:86px;}
#right_wrap.pa_aa {position: absolute; right: 0px; top: 0px; padding-top:30px;}


.notes_wrap {padding-bottom:40px; margin-top:20px;}
.notes_wrap .in_wrap {border: 1px solid #e5e5e5; background: #fff;}
.notes_wrap .in_wrap > h4 {text-align: center; padding:20px 10px; color: #465064; font-size: 18px; line-height: 140%; border-bottom: 1px solid #e5e5e5; font-weight: 100;}
.notes_wrap .in_wrap .notes_box {padding: 20px;}

.roll_pager {text-align: center;}
.roll_pager > li {padding:0px 2px; display: inline-block; position: relative;}
.roll_pager > li > a {display:block; opacity:1; cursor: pointer; width:14px; height: 14px; border-radius:100%; background: #999999;}
.roll_pager > li > a.active {background: #465064;}
.notes_wrap .bx-wrapper .bx-pager {padding-top: 0px; bottom:-35px;}


.total_price {background:#edeff4; padding: 20px; margin-bottom:15px;}
.total_price .total {display: inline-block; padding-left:36px; background: url(../img/common/ico_price.png) no-repeat left 1px; line-height:30px; font-size: 18px;}
.total_price .total > strong {font-size: 1.3em; font-weight: 600;}

.ico_ceo {display:inline-block; border-radius: 30px; background: #465064; color: #fff; padding: 0px 15px;}
.ico_ceo > span {display: inline-block; background: url(../img/common/ico_user.png) no-repeat left center; line-height:40px; padding:0px 0px; padding-left:20px;}

.ico_ceo2 {display:inline-block; background:#fff; border-radius: 30px; color: #333; border:1px solid #333; padding: 0px 15px;}
.ico_ceo2 > span {display: inline-block; background: url(../img/common/ico_user2.png) no-repeat left center; line-height:38px; padding:0px 0px; padding-left:20px;}


.delspan {display:block; width: 100%; background:#fff; text-align: center; line-height:38px; border: 1px solid #666666; border-radius:  30px; color: #333; cursor: pointer;}
.infoform-add {border-top:1px dashed #ccc; padding-top:30px; margin-top:30px; position:relative;}
.infoform-add .delspan {position:absolute; right:0px; top:30px;}
.over_wrap {max-height:300px; overflow-y:auto;}

.join_type {border: 1px solid #465064; margin-top:20px;}
.join_type > h4 {text-align: center; padding: 20px 10px; color: #465064; font-size: 18px; line-height: 140%; border-bottom: 1px solid #465064; font-weight:500;}
.join_type .in_box {padding:30px 10px 15px 10px; text-align: center;}
.join_type .in_box .txt {font-weight: 500; padding: 15px 0px 30px 0px; color: #999999;}


.last_selec {background:#f6f7f9; border: 1px solid #465064; margin-top:20px;}
.last_selec > h4 {text-align: center; padding:15px 10px; color: #465064; font-size: 18px; line-height: 140%; border-bottom: 1px solid #465064; font-weight:500;}
.last_selec .in_box > ul {padding:15px;}
.last_selec .in_box > ul > li {overflow: hidden; padding: 5px 0px;}
.last_selec .in_box > ul > li .fb {font-weight:900 !important;}
.last_selec .in_box > ul > li .fl {font-weight: 100; box-sizing: border-box; width: 50%; color:#666666 }
.last_selec .in_box > ul > li .fr {font-weight:300; box-sizing: border-box; width: 50%; color: #000; text-align: right;}
.last_selec .bt > button {display: block; width: 100%; background: #465064; line-height: 60px; height: 60px; color: #fff; font-size: 22px; font-weight: 500; outline: none;}

.plan_btns {overflow: hidden; padding-bottom: 30px; max-width:560px; margin:0px auto;}
.plan_btns > li {float: left; width: 50%; box-sizing: border-box; text-align: center}
.plan_btns > li > div {margin: 0 auto; padding: 0px 10px; box-sizing: border-box; width: 100%; display: table;}
.plan_btn {text-align: center; display: table-cell; vertical-align: middle; border: 1px solid #465064; text-align: center; border-radius: 30px; height:58px; padding: 0px  5px;}
.plan_btn > span {display: inline-block; padding-left:30px; background: url(../img/common/ico_note.png) no-repeat left center; color: #465064; font-weight:400; word-break: keep-all;}


.q_bt {display: inline-block; min-height: 19px; line-height: 19px; padding-right:25px; outline: none; background: url(../img/common/ico_q.png)no-repeat right center;}

.step4_step {overflow: hidden;}
.step4_step > li {float: left; width:16.6666%; color: #000; box-sizing: border-box; padding:3px; }
.step4_step > li .box {border: 1px solid #ccc; background: #fff; text-align: center; padding: 10px; box-sizing: border-box; min-height:165px;}
.step4_step > li .box .ico {display: block; padding:10px 0px; text-align: center;}
.step4_step > li .box .table {display:table; width: 100%;}
.step4_step > li .box .point_c {display: table-cell; vertical-align: middle; height: 40px; text-align: center}
.step4_step.three > li {width: 33.3333%}
.step4_step.four > li {width:25%}

.notice_list {overflow: hidden; margin: -20px;}
.notice_list > li {float: left; box-sizing: border-box; width: 50%; padding:20px;}
.notice_list > li > strong {display: block; min-height:45px; line-height:22px; color: #333; font-size: 1.05em; padding-bottom:0px;}
.notice_list > li .box_radio {max-width:250px; }
.notice_list > li.one {float: none; width: 100%; clear: both;}

.complete_box {text-align: center; font-size:1.8em; line-height: 140%; color: #465064; margin: 30px 0px; word-break: keep-all}
.complete_box .txt {padding-top:200px; background: url(../img/pages/ico_complete.png) no-repeat center top;}
.sub_wrap_5 .complete_box .txt {background-image:url(../img/pages/ico_gift.png);}


.confirmation_wrap .sub_tit {word-break: keep-all}
.confirmation_wrap .board-write th {padding:5px 5px 5px 10px;}
.confirmation_wrap .board-write td {height: 30px; padding:5px 10px 5px 10px;}

.invoice_wrap .sub_tit {font-size:35px;}
.invoice_wrap .date {padding-bottom:10px;}
.invoice_wrap .board-write td {height:40px; padding:5px 10px;}

.table_two {margin:-10px; overflow:hidden}
.table_two .table_wrap {float:left; width:50%; box-sizing:border-box; padding:10px;}

.invoice_top {overflow:hidden; margin:-20px; padding:20px 0px 20px 0px;}
.invoice_top > li {float:left; width:33.333%; font-size:13px;box-sizing:border-box; padding:20px;}

.gift_box {border: 1px solid #465064; margin-top:20px;}
.gift_box > h4 {text-align: center; padding: 20px 10px; color: #465064; font-size: 18px; line-height: 140%; border-bottom: 1px solid #465064; font-weight:500;}
.gift_box .in_box {padding:10px;}
.gift_box .in_box .select {width: 100%;}
.gift_box .in_box .txt {font-weight: 500; padding: 15px 0px 30px 0px; color: #999999;}


.overlayer {max-width:100%; overflow:auto;}



/* member */
.login_wrap {margin:0 auto 50px auto; border: 1px solid #cccccc; background: #fff; padding:35px 45px; box-sizing: border-box;}
.login_wrap .login_bt .btn {background-color: #1a5cba; border: 1px solid #1a5cba; color: #fff; padding: 12px; line-height:40px; display: block; font-size: 22px; text-align: center;font-weight:300; width: 100%; cursor: pointer; box-sizing: border-box; -moz-box-size: border-box;}
.login_wrap .id_save {font-size:15px; color:#000; margin:0px 0px 20px 0px; float: left;}
.signup {padding:30px 0px 15px 0px;}
.signup_or {position:relative; margin-bottom:5px; text-align:center; background:url(../img/common/line.gif) repeat-x left center;}
.signup_or_text {background-color:#fff; display:inline-block; padding:8px; font-size:14px; font-weight: 500; color:#82888a;}
.signup li { margin-bottom:5px;}
.signup li input {width:100%; height:60px; padding:8px 10px; display:block; border:1px solid #cccccc; border-radius:0px; background-color:#f7f7f7; color:#565a5c; box-sizing:border-box; -moz-box-size:border-box; font-size:15px;}
.find_idpw {text-align: right; padding: 10px 0px 20px 0px; font-size: 0px;}
.find_idpw > li {display: inline-block; position: relative; vertical-align: top; font-size: 15px; line-height: 20px; padding-left:10px; margin-left: 10px; }
.find_idpw > li:before {display: block; content: ""; width: 1px; height: 14px; background: #666; position: absolute; left: 0px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%)}
.find_idpw > li:first-child:before {display: none;}
.find_idpw > li a {font-size:15px; color:#666666; font-weight: 500;}
.find_ok {text-align: center; padding:170px 0px 20px 0px; font-size:18px; line-height: 150%; background: url(../img/member/ico_mail.gif) no-repeat center top; }


.join_txt {padding:10px 0px 10px 40px; min-height:20px; margin-top:10px; background:url(../img/common/ico_idpw.gif) no-repeat left 5px; display:inline-block;}

.join_go {padding:18px 0px 0px 0px; text-align:center; margin:18px 0px 0px 0px; border-top:1px solid #cccccc}

.join_go > a {background-color: #fff; color: #1a5cba; padding: 12px; line-height: 40px; display: block; font-size:22px; text-align: center; font-weight:300; width: 100%; border: 1px solid #003876; cursor: pointer; box-sizing: border-box; -moz-box-size: border-box;}
.member_ok {font-size:32px; word-break:keep-all; text-align: center; line-height: 140%; padding: 130px 0px 20px 0px; margin-top: 20px; background: url(../img/member/type_ico02.gif) no-repeat center top; }
.member_wrap {max-width:590px; margin:0 auto;}
.check_boxW {background:#fff; border:1px solid #dadada; margin-top:-1px; padding:15px 5px;}


.claim_list {overflow:hidden;}
.claim_list > li {float:left; width:33.3333%; box-sizing:border-box; padding:4px; min-height:425px;}
.claim_list > li > dl {border:1px solid #ccc; line-height:100%;}
.claim_list > li > dl > dt {text-align:center; min-height:175px; box-sizing:border-box;padding:20px 5px 5px 5px; font-size:1.6em; font-weight:600; line-height:140%; color:#333333; }
.claim_list > li > dl > dt .ico {display:block; padding:20px 0px 0px 0px;}
.claim_list > li > dl > dd {background:#edeff4; padding:15px 20px 10px 20px; box-sizing:border-box; min-height:125px; color:#333333}
.claim_list > li .bt {text-align:center; padding-top:15px; padding-bottom:30px;}
.claim_list > li .bt > a {display:inline-block; background:#1a5cba; line-height:50px; color:#fff; font-size:1.05em; font-weight:500; border-radius:30px; min-width:170px;}

.excel_btn {padding-left:20px; line-height:100%; display:inline-block; background:url(../img/common/ico_excel.png) no-repeat 10px center; background-size:auto 22px; border:1px solid #666; border-radius:5px}
.excel_btn .file_input label {background:none; padding:0px 15px; font-size:15px; height:34px; line-height:34px; color:#333;}


/*lnb_wrap*/

#lnb_wrap {position:relative; min-height:64px; z-index:10; margin: 0 auto; background:#f4f4f4; box-sizing:border-box; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; }
#lnb_wrap .lnb {max-width:1200px; padding:17px 0px; margin:0 auto; position:relative;}
#lnb_wrap .lnb:after { clear:both; content:""; display:block;}
#lnb_wrap .lnb .lnbs { float:left; width:196px; border-right:1px solid #999; position:relative;}
#lnb_wrap .lnb .lnbs .copy_menu { position:absolute; left:-1px; top:49px; width:100%; border-left:1px solid #e2e2e2;  border-right:1px solid #e2e2e2; display:none; background: #fff;}
#lnb_wrap .lnb .lnbs .sub_menu {display:none !important;}
#lnb_wrap .ico_home {float:left; display: block; border-right:1px solid #999999}
#lnb_wrap .ico_home a {display:block; width:55px; height:31px; text-indent:-1000px; font-size:0px; background:url(../img/common/ico_home.png) no-repeat center center;}
#lnb_wrap .lnb .go_product {position: absolute; right: 0px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%)}
#lnb_wrap .lnb .go_product > a {display: block; border: 1px solid #0066b3; color:#0066b3; font-size: 16px; font-weight: 500; border-radius:30px; padding: 0px 20px;}
#lnb_wrap .lnb .go_product > a > span {display: block; padding-right:40px; background: url(../img/common/ban_arrow.png) no-repeat right center; line-height: 42px;}





.lnb ul li {color:#666666; display: block; padding: 0px;}
.lnb ul li.gnb00 {display: none;}
.lnb ul li.on {display:none !important;}
.lnb ul li a {color:#666666; font-size:13px; display:block; line-height:20px; min-height:20px; padding:10px 0px 10px 25px; border-bottom:1px solid #e2e2e2; box-sizing:border-box; text-align: left; border-top:none }
.lnb ul li a:hover {color:#333; border-top:none }

.lnb ul li .three_depth a {background:#e5e5e5; border-bottom:1px solid #fff; border-top:none; color:#666666; padding:10px 30px 10px 35px;}

#lnb_tit {font-size:14px; box-sizing:border-box; padding-left:25px; color:#333; line-height:31px; height:31px; background:url(../img/common/lnb_arrow.png) no-repeat right center; cursor:pointer; font-weight: 300;}
#lnb_tit2 {display: block; font-size:14px; box-sizing:border-box; padding-left:25px; color:#333; line-height:41px; height:41px; background:url(../img/common/lnb_arrow.png) no-repeat right center; cursor:pointer; font-weight: 500;}
#lnb_tit.on {background:url(../img/common/lnb_arrow_on.png) no-repeat right center;}
#lnb_tit2.on {background:url(../img/common/lnb_arrow_on.gif) no-repeat right center;}





.sub_con {min-height:100px; max-width: 1200px; margin: 0 auto; color: #333333; font-size:17px; line-height: 160%; word-break: keep-all;}
.sub_con img {max-width: 100%;}
.sub_tit {font-size: 26px; color: #333333; line-height: 140%; text-align: center; padding: 20px; font-weight: 600;}
.sub_tit_p {font-size: 24px; color: #82308e; line-height: 140%; text-align: center; padding: 20px 0px 10px 0px; font-weight: 700;}
.s_tit {margin: 40px 0px 10px 0px; font-size: 26px; font-weight:600; line-height: 140%; color: #465064;}
.s_tit .small {font-size: 16px; font-weight: 100;}
.s_tit.s_tit2 {padding-left: 35px;}

.s_tit.s_tit2:before {width:26px; height:26px; background:url(../img/common/tit_bul2.gif) no-repeat center center; background-size:100% auto; }
.s_tit.tc {text-align: center; background: none !important; padding-left: 0px;}
.ss_tit {font-size:18px; color: #333333; line-height: 140%; padding:0px 0px 10px 0px; position: relative; margin-top:10px; font-weight:500; display: inline-block;}
.sss_tit {font-size:18px; color: #333333; line-height: 140%; padding:0px 0px 10px 0px; margin-top:20px; font-weight:500;}
.s_titW {max-width: 1200px; margin:0 auto; padding: 50px 0px 5px 0px;}
.b_tit {font-size:26px; color: #000; line-height: 140%; padding:0px 0px 20px 0px; margin-top:50px; font-weight:700; position: relative;}
.b_tit > span {display: inline-block; border-top:1px solid #000;}
.b_txt {font-size: 18px; color: #494949; line-height: 150%;}
.s_txt_r {text-align: right; margin-top: -35px; height: 20px; padding-bottom:15px;}
.s_txt_r2 {height: 40px; margin-top: -55px;}
.imgW img {max-width:100%;}
.ss_tit .s_txt {font-size:14px; font-weight: 300; margin-left: 10px;}
.click_count {text-align: right; padding: 10px 0px; color: #666666}
.title {font-size:2em; font-weight:600; line-height:140%; color:#465064}


.radio_group {font-size: 0px; padding: 5px 0px 0px 0px; margin:-5px 0px 0px -15px;}
.radio_group > li {display: inline-block; font-size:16px; padding: 5px 0px 0px 15px;}
.input_etc {position: relative; padding-left: 62px; box-sizing: border-box;}
.input_etc .pa {position: absolute; left: 0px; top: 0px; font-size: 14px; line-height:40px;}

.btn-tc {text-align: center; padding: 30px 0px; margin-top: 30px;}
.btn-tc > a {margin: 0px 20px;}
.btn-tl {text-align: left; overflow: hidden; padding: 30px 0px; border-top:1px solid #333333; margin-top: 30px;}


.important {padding-right:15px; position:relative; display:inline-block;}
.important:after {display:inline-block; content:"*"; vertical-align: middle; font-size: 20px; color:#ec5133; position:absolute; right:0px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);line-height: 100%;}
.important2 {padding-left:15px; position:relative; display:inline-block; }
.important2:after {display:block; content:"*"; color:#eb444b; position: absolute; left: 0px; top:50%; font-size: 20px; line-height: 100%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.toggle_bt {text-align:right; margin-top:-40px; height:40px; position:relative;}
.toggle_bt > button {display:inline-block; outline:none; cursor: pointer; width:100px; height:30px; font-size:14px; border:1px solid #666; text-align:left; padding-left:20px; border-radius:30px; background:url(../img/common/lnb_arrow_on.png) no-repeat 105% center;}
.toggle_bt > button.on {background:url(../img/common/lnb_arrow.png) no-repeat 105% center;}


/*atab*/
.atab { margin-bottom:30px; padding-top: 10px;}
.atab:after {clear:both; display:block; content:"";}
.atab li {float:left; width:20%; box-sizing:border-box; position:relative; display: table; }
.atab li a {display:table-cell; width: 100%; height:64px; vertical-align: middle; background:#fff; line-height:20px; font-weight:400;  padding:0px 0px; text-align:center; color:#999999; box-sizing:border-box; border:1px solid #cccccc; border-bottom:1px solid #465064;  font-size:18px; border-left: none}
.atab li:first-child a {border-left:1px solid #cccccc;}
.atab li.on a {border: 1px solid #465064 !important; border-bottom: 1px solid #fff !important; background: #fff; color: #465064; font-weight: 600;}
.atab li.on:after {display: block; content: ""; width: 20px; height:calc(100% - 2px); height:-webkit-calc(100% - 2px); position: absolute; left: 100%; top:1px; background: url(../img/common/tab_shadow.png) no-repeat left top; background-size:cover; z-index: 99}
.atab li:last-child.on:after {display:none !important}
.atab li a .count {display: inline-block; background: #d53f41; text-align: center; border-radius: 30px; line-height: 15px; height: 16px; margin-left: 3px; vertical-align: middle; font-weight:100; color: #fff !important; font-size: 11px; min-width: 30px;}
.atab.two li {width:50%;}
.atab.three li {width:33.33%;}
.atab.four li {width:25%;}
.atab.two_row > li {margin: -1px 0px 0px -1px}
.atab.two_row > li.on {margin-top:-1px;}
.atab.two_row > li.on a {height: 50px;}
.atab.two_row > li > a {border-left:1px solid #cccccc;}

.btab {padding-top: 10px; margin: 0 auto; margin-bottom: 40px; font-size: 0px; text-align: center}
.btab:after {clear:both; display:block; content:"";}
.btab li {display: inline-block; max-width:200px; box-sizing:border-box; position:relative;}
.btab li a {display:block; width: 100%; padding:20px 20px; text-align:center; border: 1px solid #dddddd; color:#999999; box-sizing:border-box; font-size:16px;}
.btab li.on a {color: #465064; border-color:#465064}

.btab.two li {width:50%;}

.ctab { margin-bottom:40px; padding-top: 10px; font-size: 0px; text-align: center}
.ctab:after {clear:both; display:block; content:"";}
.ctab li {display: inline-block; max-width:200px; padding:0px 15px; box-sizing:border-box; position:relative;}
.ctab li a {display:block; width: 100%; padding:0px 0px; text-align:center; color:#333333; box-sizing:border-box; font-size: 16px; }
.ctab li a .ico {display:block; margin: 0 auto; width: 120px; height: 120px; overflow: hidden; margin-bottom:10px;}
.ctab li.on a {color: #ed2129;}
.ctab li.on a .ico img {margin-top: -100%;}
.ctab.two li {width:50%;}


.of_hi {margin: 0px -10px;}
.of_hi .fl50 {float:left; width:50%; box-sizing: border-box; padding: 0px 10px;}
.of_hi .fr50 {float:right; width:48%;}
.graybox { background:#cccccc; padding:10px;}
.no_flash { display: none;}

/* 레이어팝 */
#black {display:none; background-color: #000; display: none; height: 100%; left: 0; opacity: 0.6; filter: alpha(opacity=60); position: fixed; top: 0; width: 100%; z-index: 9999;}
.layerPop {-webkit-overflow-scrolling: touch; overflow-y: auto; width: 100%; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 99999; background:url(../img/common/png_70.png) repeat left top;/*background:#d7d7d7;*/ zoom: 1;}

.layerPop_inner {width: 100%; height: 100%; padding: 15px; display: table; position: relative; margin: 0 auto; box-sizing: border-box;}
.pop_wrap {display: table-cell; vertical-align: middle; position: relative;}
.pop_wrap .pop_body {padding:15px 20px 20px 15px; font-size:1.05em; line-height: 150%; background: #fff; word-break: keep-all;}
.pop_wrap .pop_body .btns {padding-top: 20px;}
.pop_wrap .pop_wrap_in {width:100%; margin: 0 auto;}

.pop_wrap .x_btn {position: absolute; right:25px; top:50%; margin-top: -13px; display: inline-block; width:26px; height: 26px; cursor: pointer; background: none}
.pop_wrap .pop_head {background:#465064; position: relative;}
.pop_wrap .pop_head .title {font-size:24px; line-height:150%;  color: #fff; padding:15px 45px 15px 25px; text-align: left; font-weight:500;}
.pop_wrap .pop_head .title .small {font-size:18px; font-weight:100;}
.pop_wrap .pop_head .title.tc {padding:15px 45px 20px 45px;}
.pop_wrap .pop_head .s_txt {font-size:14px; line-height:14px;  color: #646464; text-align: center; padding: 0px 0px 30px 0px;}
.pop_wrap .x_btn2 {position: absolute; right:0px; bottom:0px; }

.pop_body .btn-tc {padding: 20px 0px 0px 0px; margin-top:15px;}
.pop_body .btn-tc > a {margin: 0px 10px;}

.pop_wrap .pop_wrap_in.mini {border: 1px solid #465064; box-shadow:1px 2px 3px #000;}
.pop_wrap .pop_wrap_in.mini .pop_head {background: #fff;}
.pop_wrap .pop_wrap_in.mini .pop_head .title {color: #465064; padding: 15px 45px 15px 15px; font-size:18px;}
.pop_wrap .pop_wrap_in.mini .x_btn {right:10px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); display: inline-block; width:40px; height:40px; margin: 0px; cursor: pointer; background: none}



/* 팝업 */

.popup_scroll {max-height:400px; overflow-x:hidden; overflow-y:auto;}

.layers_wrap {background:#FFF; position:relative; min-width:300px;}
.layers_wrap .layers_tit {width:100%; padding:15px 0px; line-height:150%; background:#7c50a0;  text-align: center; font-size:1.8em; color:#fff; position:relative;}
.layers_wrap .layers_tit .logo {padding-left:25px; padding-top:20px;}
.layers_wrap  .close_pop { position:absolute; right:25px; top:17px;}
.layers_wrap .layers {padding:20px; font-size: 14px; position:relative; /*min-height:100px; max-height:760px; overflow-x:hidden; overflow-y:auto; -webkit-print-color-adjust:exact;*/}

.layers_wrap .close {height:30px; border-top:none; text-align:right; background:#e2e2e2; line-height:30px;}
.layers_wrap .close a { display:inline-block; zoom:1; *display:inline; font-family:Noto Sans; color:#2d2d2d; padding-right:20px; background:url(http://pic.neungyule.com/newnetimes/img/btn/pop_close_s.gif) no-repeat right center; margin-right:10px;}
.layers_wrap .pop_tit {padding-left:5px; border-bottom:1px solid #afafaf; min-height:41px; padding-bottom:3px; font-family:Noto Sans; color:#444444; font-size:22px; line-height:41px;}
.layers_wrap .pop_tit.ico_check2 { font-size:13px; min-height:20px; padding:10px 10px 10px 50px; background:url(../img/common/ico_check2.gif) no-repeat 10px 10px #f9f9f9; line-height:150%; border-bottom:none;}
.layers_wrap .pop_tit_no {min-height:38px; font-family:Noto Sans; color:#444444; font-size:22px; line-height:38px;}






.board-write .input {min-height: 40px; line-height: 40px; width: 100%;}




.btnNormal.m_block span {min-width:60px;}



.bt_include {position: relative; padding-right:105px; box-sizing: border-box;}
.bt_include .add_bt {position: absolute; right: 0px; top: 0px;}
.bt_include select {width: 100%; max-width: 100%;}
.bt_include2 {padding-right:65px; margin: 0 auto;}
.bt_include .add_bt .btnNormalB span { height: 50px; padding:0px 22px; line-height: 48px;}


.tr_select {background: rgb(190, 212, 253)};


/* ------------------------------------------------------------
 * Name      : mobile_layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */
.mobile_on .m_gnb .gnb > ul {overflow-y:auto; overflow-x:hidden;}
.m_gnbW .menu_btn .line-top, .m_gnbW .menu_btn .line-middle, .m_gnbW .menu_btn .line-bottom {background: #000;}
.m_gnbW {position:absolute; right:10px; top:20px;display: none; z-index: 99}
.m_gnb .gnb > ul {width:100%; background:rgba(18,18,18, .97); position:relative; overflow-x:hidden;}
.m_gnb .gnb > ul:after {content:""; display:block; clear:both;}
.m_gnb .gnb > ul > li > a {display:block; font-size:14px; color:#ffffff; padding:15px 0px; text-align:center; border-bottom:1px solid rgba(255,255,255, .065)}
/*.m_gnb .gnb > ul > li:hover > a {background:#000;}*/

.m_gnb .sub_menu  {width:100%; line-height:20px; background:#4a4a4a; display:none;}
.m_gnb .sub_menu > li > a {display:block; color:#fff; font-size:12px; padding:5px 0px; text-align:center; border-bottom:1px solid rgba(255,255,255, .065)}
.m_gnb .sub_menu > li > a:hover { background:#009091;}
.m_gnb .gnb .alarm { background-size:20px;}
.m_gnb .gnb .name {max-width:200px;}
.mobile_on input, .mobile_on select, .mobile_on textarea {-webkit-appearance:none;}
.mobile_on select {height:31px; padding:0px 2em 0px 8px!important;}
.mobile_on .sel_arrow {position: relative;}

.down_file {display: inline-block; vertical-align: middle; margin-left: 10px;}
.down_file > span {display: block; padding-left:23px; background: url(../img/common/ico_file.png)no-repeat left center;}
.down_file:first-child {margin-left:0px;}
/*.view_tit {padding: 15px 10px; background: #f5f5f5; border-top: 2px solid #000; border-bottom: 1px solid #cccccc; font-size: 1.15em; font-weight: 500;}
.click_count {text-align: right; padding:15px 0px; font-size:1.05em; color: #666666}*/

.gnb06 {display:none !important;}

/* 1200px 이상 */
@media screen and (min-width:1199px) {
	.m_gnb {display:none !important;}
    
    
}
/* 1400px 이하 */
@media screen and (max-width:1699px) {

    .banner_wrap .ban02 {background-position:200px top; }
    
    
}

/* 1700px 이하 */
@media screen and (max-width:1699px) {
    .visual_banner > ul {padding-left:18%; transition: all 0.3s 0s ease-in-out; -webkit-transition: all 0.3s 0s ease-in-out;}
    .main_visual .v_frame .info_area {padding-left:18%; transition: all 0.3s 0s ease-in-out; -webkit-transition: all 0.3s 0s ease-in-out;}
    
    
}

/* 1220px 이하 */
@media screen and (max-width:1219px) {
    #wrap {padding: 15px;}
    #inner_wrap {padding:15px;}
	.top_menu_wrap {padding-right:140px;}
	.top_menu > li > span {font-size:1em;}
	
    
}

/* 980px 이하 */
@media screen and (max-width:979px) {
	.top_menu_wrap {display:none;}
    .m_gnbW {display: block;}
    
 
    .w_gnb .gnb > ul > li > a {font-size:16px; }
    

    .step_tit {font-size: 22px;}
    .s_tit  {font-size: 22px;}
    .step_select.four > .select_ds {width: 50%;}
    .day90 > li {width: 33.3333%;}
    
    .left_wrap {width: 100%; padding: 0px; float: none;}
    .right_wrap {width: 100%; position: relative !important; padding-left:0px; top: auto !important; padding-top:40px !important; float: none;}
    
    .notice_list > li {float:none; width: 100%;}
    .notice_list > li > strong {min-height: auto; padding-bottom: 10px;}
    
    
    .step4_step > li {width: 33.3333%;}
    
	.showplan_mobile {display:block;}
	.showplan_web {display:none;}
	.main_banner > ul {margin:-5px;}
	.main_banner > ul > li {padding:5px}
	
	.footer {padding:80px 0px 0px 0px; text-align: center; background-position:center 30px;}
	.f_navi {padding:10px; text-align: center}
	.f_navi li {padding:0px 15px !important}
    .footer .go_home {display:none;}

}

/* 768 이하 */
@media screen and (max-width:767px) {
	
	.gnb06 {display:block  !important;}

    .m_gnbW {top:15px; right:0px;}
    .w_gnb {display: none;}
    #container {font-size:15px;}
    
    .w_gnb .gnb > ul > li > a {font-size:14px;}
    
    .join_step > ol > li {font-size:14px;}
    .box_radio > li label {height: 50px;}

    .step_select .select_ds select.big {height:50px;}
    .execute_bt > button {height:50px;}
      
    .gray_box {padding: 15px;}
    .s_tit {font-size:19px }
    .ss_tit {font-size: 16px;}
    
    .step_select {margin: -5px !important;}
    
    .step_select > .select_ds {padding:5px !important; width: 100% !important; clear: both !important; float: none !important;}
    
    .step4_step.three > li {width: 100%; float: none; min-height: auto;}
    .step4_step.four > li {width:50%}
	
	.member_ok {font-size: 22px;}    

    /*atab*/
    .atab li a {font-size:15px; height: 60px;}
    .btn-tc > a {margin: 0px;}
    .web_img {display:none;}
    .mobile_img {display:block;}
    .col-sm-2.time_wrapW > .select_ds {width:100%; float:none;}
	.time_wrapW .time_wrap {margin-top:5px; padding-left:120px;}
	.time_ch {left:0px;}
    
    /*.table_overflow {overflow-x: auto;}
    .table_overflow .overlayer {min-width:768px}
    .table_overflow .w_cell {display: none;}*/

	.toggle_layer {overflow-x: auto;}
	.toggle_layer  .table_line2 {min-width:768px}
   
    .mobile_notice {display:block; margin:-40px 0px 40px 0px;} 
	.web_notice {display:none}

	.main_banner {max-width:420px; margin:0 auto; padding-bottom:20px;}
	.main_banner > ul > li {width:100%; float:none; padding-top:40px;}
	.main_banner > ul > li:first-child {padding-top:0px;}
	.main_banner > ul > li img {width:100%; }
	.mobile_notice {max-width:420px; margin:-40px auto 30px auto;}
	.mobile_notice .m_tit {font-size:22px; padding-bottom:10px; text-align:left;}
	.main_board .more {top:-43px;}
	.main_board .more > a > span {line-height:40px;}
	.main_board > ul > li {width:100%; float:none; border:none; display:none; border-top:1px solid #ccc}
	.main_board > ul > li:first-child {display:block;}
	.main_board > ul > li > a {background:none;}
	.main_board > ul > li > a .txt {display:none;}
	.main_board > ul > li > a .tit {margin:0px;}
	.main_board > ul > li > a .date {position:absolute; right:0px; top:0px;}

	#excel_btn {display:none;}

	.claim_list > li {width:50%;}
    
}
/* 600 이하 */
@media screen and (max-width:599px) {
	.gnb06 {display:block  !important;}
	.login_wrap {padding:15px;}

    
    .signup {padding:10px 0px 5px 0px;}
    .signup li input {height: 50px; font-size: 14px;}
    .login_wrap .id_save {font-size:14px;}
    .find_idpw a {font-size: 14px;}
    .login_wrap .login_bt .btn {line-height:30px; font-size:18px;}
    .join_go > a {line-height:30px; font-size:18px;}    


    .ex_inbox {padding:10px;}   
    
    .pop_wrap .pop_head .title {font-size:20px; color: #fff; padding: 17px 15px 18px 15px;}
    .pop_wrap .pop_head .title .small {font-size:16px;}
    .pop_wrap .pop_body {padding: 15px; max-height:calc(100% -100px); max-height:-webkit-calc(100% -100px); overflow-y:auto; -webkit-overflow-scrolling: touch; }

	
    .sub_tit2 {font-size:20px;}
    .sub_tit_s {font-size:20px;}

    
    .layers_wrap .layers {padding:10px; font-size:0.95em;}

    

    
 
    

}



/* 480px 이하 */
@media screen and (max-width:479px) {
	.gnb06 {display:block  !important;}
    #wrap {padding:5px;}
    #header {margin-bottom: 20px;}
    #header h1 img {height:40px}
    #inner_wrap {padding: 10px;}

    .m_gnbW .menu_btn {height:14px; width:22px;}
    .m_gnbW .menu_btn .line-middle {top: 6px;}

    .slide_menu_wrap .gnb > ul > li > a {padding-left: 0px; background-size:10px auto !important; font-size: 16px; background-position:right center !important}
    .slide_menu_wrap .gnb .sub_menu > li > a {padding-left: 10px; font-size: 14px;}
    
   


     #container {font-size:13px;}
    
    .join_step {padding: 15px 5px; margin-top: 0px;}
    .join_step > ol:before {top: 15px;}
    .join_step > ol > li {font-size:12px;}
    .join_step > ol > li .ico > span {width:30px; height:30px; line-height:30px;}
    .join_step > ol > li.on .ico > span {background-size: cover}
    
    .step_tit {font-size:18px;}
	
    .box_radio > li label {height: 40px;}
    .step_select .select_ds select {height:40px;}
    .step_select .select_ds .input {height:40px;}
    .step_select .select_ds select.big {height:40px;}
    .select_ds .date_picker .input {height:38px;}
    .execute_bt > button {height:60px; font-size: 22px;}
    
    .step_select {margin: -5px !important;}
    
    .step_select > .select_ds {padding:5px !important;}
    
    .step_select .select_ds.cb {width: 100%; clear: both; float: none;}
	.bt_include {padding:0px 0px 50px 0px;}
    .bt_include2 {padding:0px 0px 35px 0px;}
	.bt_include .add_bt {position: absolute; right: 0px; top: auto; left: 0px; bottom:0px;}
    .bt_include .add_bt a {display: block;}
	.bt_include .add_bt .btnNormalB span {height: 40px; line-height: 39px;}
    
    .day90 > li .calender_icon {background-size:30px auto; margin:10px auto; font-size: 15px; padding-left:35px; max-width: auto; width: auto;}
    .day90 > li .border_box > ul {padding: 15px 5px;}
    
    .total_price .total {font-size: 16px;}
    .plan_btns {padding-bottom: 15px;}
    .plan_btns > li {float: none; padding: 5px 0px; width: 100%;}
    
    .step4_step > li {width:50%; font-size:14px; font-weight:500;}
    .step4_step.four > li {float: none; width: 100%; clear: both; }
    .step4_step.four > li .box { min-height: auto;}
    
    .gray_box {padding:10px;}
    .complete_box {font-size:1.5em; }
    .complete_box .txt {padding-top:100px; background-size:85px auto; }



    .pop_wrap .pop_head .title {text-align: left !important; padding:15px 45px 15px 15px !important;}
    .pop_wrap .pop_head .title br {display: none;}
    .pop_wrap .x_btn {right:15px; }
    
    
	.mb_dis {display: block;}

	.check_boxW {padding:10px 5px}
	
	.subject {padding-left:10px;}
	.bbs_search {margin-bottom:10px;}
	.bbs_search_in {padding:0px;}
	.bbs_search_in .select { position:relative; margin-bottom:5px; width:100%;}
	.bbs_search_in .btn_search { position:relative; display:block; margin:5px 0px 0px 0px; width:100%;}
    .bbs_search2 {padding:15px;}
	.paging a {width:23px;}
	.paging a.prev, .paging a.next, .paging a.first, .paging a.last {width:33px;}
    .block_m {display: block;}
    .block_m.fl {float: none;}
    .list_btn .block_m {margin: 2px 0px;}
	.board-view td.view_td {padding:20px 10px;}
    .list_btnW a {display: block;}
    
    .s_txt_r {margin-top: -25px; padding-bottom:5px;}
    .s_txt_r2 {margin-top: -45px;}

    #inner_wrap.no_visual {padding-top: 30px;}
    .sub_con {font-size:0.95em; }
    .title_bar {padding:15px 0px 10px 0px;}
	.title_bar h2 {font-size:1.8em; }

	.title_bar .s_txt {font-size:16px; padding-bottom: 5px;}
    
    .s_tit {font-size:18px;}
    .s_tit:after {width:70px;}
    .b_tit {font-size: 20px;}
    .m_th150 {width:150px !important;}
    .m_th_b {width:105px !important;}
	.m_th {width:85px !important;}
    .m_th_s {width:55px !important;}
    .m_th_ss {width:45px !important;}

    .w_date {width:80px;}
    .m_block {display: block !important; margin-bottom: 3px !important; float: none !important;}
    .scrollbox {height:120px; }
    .atab {margin-bottom: 20px;}
    .atab li a {font-size:13px; height:50px;}
    .atab li.on:after {width:10px; background-size:100% 100% !important}
	.btab {margin-bottom:20px;}
	.btab li a {font-size:15px; padding:10px 15px;}
   
    .radio_group > li {font-size:13px;}
   
    input.input5 {height:36px; padding: 0px 5px; line-height: 34px; font-size: 13px;}
    .textarea {padding:5px 5px; font-size: 13px;}
    
    .security_code .code .num {height:34px; line-height: 32px; font-size: 14px;}
    .file_input label {height:36px;  line-height:34px; font-size: 13px;}
    .radio_group {margin-top:-5px;}
    .click_count {padding:10px 0px;}
    .time_wrapW .time_wrap {padding-left: 105px;}
    
    .btn-tc {padding:15px 0px; margin-top: 20px;}
	
	.main_board > ul > li {padding:15px;}
    .main_banner > ul > li .bt > a {display:block;}
    .footer {font-size:12px; padding-top:60px; background-position:center 25px; background-size:auto 30px;}
	.footer .copy  {font-size:12px}
    .f_navi li a {font-size:13px;}
    .data_down {padding:10px;}
	.data_down .tab_area > li > a > span {line-height:34px}

	.claim_list > li {width:100%; float:none; min-height:auto;}
	.claim_list > li > dl > dd {min-height:auto;}
	.claim_list > li > dl > dt {min-height:auto; padding:15px;}
	.claim_list > li > dl > dt .ico {padding-top:10px;}
	.claim_list > li .bt > a {display:block;}
	

}




/* 320px 이하 */
@media screen and (max-width:320px) {
	.gnb06 {display:block  !important;}
    .atab li a {font-size:12px;}
    .title_bar .s_txt {padding-left: 10px;}

    .btns > li {width:100%; float: none; padding:2px 0px;}
    .btn-tc {padding:20px 0px;}
   
}


/*20190918 추가 박우철 */
	.search_win_css{
		position: absolute;
		z-index: 400;		
		padding-top:2px;
		
	}

.swin_close{
	text-align:right;
	width:340px;
	padding:0 10px 0 0;
	height:30px;
}

.winclose{
		border:1px solid #465064;
					background-color:#465064;
					color:white;
    width: 80px;
   height: 25px;   
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
	border-radius:8px;
	padding:0px 0px 2px 0px;
}

.slist > li:hover {	
                background: #fef9e3;           
}

@media screen and (min-width:1199px) {	
	
	.dis_win_css{
		width: 97%;
		height:187px;
	
		padding:5px 10px 5px 10px;
	}

	.slist{
		height:100%;
		overflow:auto;
	}

	.slist > li{
		font-size:1.1em;
		padding:3px 0 3px 0;
	}
.slist > li:hover {	
                background: #fef9e3;           
}
	.br_color{
	width: 350px;
	border:2px solid #465064;
	background-color:#FFF;
}
	.winclose{
					border:1px solid #465064;
					background-color:#465064;
					color:white;
					width: 70px;
				   height: 25px;   
					text-align: center;
					box-sizing: border-box;
					font-size: 16px;
					border-radius:8px;
					padding:0px 0px 2px 0px;
				}
	.winclose > span {
			width:100%;
			height:100%;
			vertical-align:top;
		}
}

@media screen and (max-width:599px) {
	.dis_win_css{
		width: 340px;
		height:187px;
	
		padding:10px 10px 0px 10px;
	}

	.slist{
		height:100%;
		overflow:auto;
	}

	.slist > li{
		font-size:1em;
		padding:3px 0 3px 0;
	}
.slist > li:hover {	
                background: #fef9e3;           
}

		.br_color{
		width: 350px;
		border:1px solid #465064;
		background-color:#FFF;

	}

		.winclose{
					border:1px solid #465064;
					background-color:#465064;
					color:white;
					width: 70px;
				   height: 25px;   
					text-align: center;
					box-sizing: border-box;
					font-size: 16px;
					border-radius:8px;
					padding:0px 0px 2px 0px;
				}
}


@media screen and (max-width:479px) {
			.dis_win_css{
					width: 97%;
					height:187px;
				
					padding:10px 10px 0px 10px;
				}

				.slist{
					height:100%;
					overflow:auto;
				}

					.slist > li{
		font-size:1em;
		padding:3px 0 3px 0;
	}
	.slist > li:hover {	
                background: #fef9e3;           
}

				.br_color{
						width: 307px;
						border:1px solid #465064;
						background-color:#FFF;
					}

					.swin_close{
						text-align:right;
						width:97%;
						padding:0 10px 0 0;
						height:35px;
					}

				.winclose{
					border:1px solid #465064;
					background-color:#465064;
					color:white;
					width: 70px;
				   height: 25px;   
					text-align: center;
					box-sizing: border-box;
					font-size: 16px;
					border-radius:8px;
					padding:0px 0px 2px 0px;
				}

		.winclose > span {
			width:100%;
			height:100%;
			vertical-align:top;
		}
}

/*20190918 추가 박우철 */



